* {
    font-size: 12px;
    width: 100%;
    margin: 0;
}

header {
    width:90%;
    margin: auto;
    align-items: center;
    display: inline-flex;
    text-align: center;
}

main {
    width:90%;
    margin: auto;   
}

p {
    font-size: 2em;
    background-color: rgb(245, 244, 169);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 800;
    font-size: 2.5em;
    display:block;
}

.products {
   background-color: rgb(114, 184, 216);
   display: grid;
   grid-template-columns: auto auto;
   gap: 10px 10px;
}

.products .item {
    /*width: 95%;
    display: flex;*/
    display: grid;
    background-color: rgb(119, 231, 207);
    grid-template-columns: 1fr 5fr;
}

.products .item .photo {
    /*width: 95%;
    display: inline-block;*/
    background-color: rgb(70, 172, 57);
   text-align: center;
}

.products .item img {
    width: 60%;
    height: auto;
     
}

.products .item .descriptPoduct {
    /*display: inline-block;*/
    background-color: blue;
}


.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.people {
    background-color: bisque;
}

.copy {
    font-style: italic;
}

.presentation {
    font-size: 1.5rem;
}

#logo {
    width: 10%;
    height: auto;
    margin: 5px 5px 0 0;
}

img {
    width: 10%;
    height: auto;
    margin: 5px 5px;
}
