html{
    font-size: 14px;
}
header {
    display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

div {
    display: flex;
 /* width: 90%;*/
  justify-content: space-around;
  margin: auto;
}

.logo {
    display: inline-flex;
    width: auto;
    height: auto;
    max-height: 150px;
    /*height: 80%;*/
}

h1{
    display: inline-flex;
    font-size: 5em;
    text-align: center;
    margin: auto;
}

p {
    font-size: 1.5rem;
 /*   text-align: center;*/
}

.menu {
    display: inline-block;
    align-self: flex-start;
    justify-content: space-between;
    list-style-type: none;
    width: 250px;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding-right: 8px;
    font-size: 2rem;
}

footer li {
    float: left;
}

h2{
    font-size: 3rem;
}

img {
/*    width: 400px;*/
    width: 30%;
    height: auto;
}

.special {
    width: 60%;
    height: auto;
}

.specialp {
    font-size: 1.5rem;
    text-align: center;
}


@media only screen and (max-width: 1300px) {
    .logo {
        display: none;
    }

    html{
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        margin: auto;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    div {
        display: block;
    }

    h1{
        flex-wrap: wrap;
        display: flex;
        text-align: left;
        margin: auto 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
    }

    img {
    /*    width: 400px;*/
        min-width: 40rem;
        height: auto;
    }
        
    p {
        max-width: 40rem;       
    }
}