html {
    font-size: 14px;
    width: 70%;
    margin: auto;
}

p {
    font-size: 1.1rem;
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    max-height: 5rem;
    overflow: auto;
}

.group {
    display: flex;
   align-content: space-around;
   justify-content: space-around;
   padding-top: 2rem;
}

.titleOne {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
}

.titleTwo {
    font-size: 2rem;
    font-weight: 800;    
    padding-top: 2rem;
}

img {
    display: block;
    height: 12.14rem;
    width: auto;
    margin: auto;
    flex-grow: .5;
}

.blocImg {
    display:flexbox;
    min-width: 250px;
    width: 20%;
}

.blocImg P {
    text-align: center;
}

header .logo {
    height: 8rem;
    width: auto;
}

ul {
    list-style-type: none;
}

li {
    display:inline-block;

}

a:hover {
    background-color: aquamarine;
}

header {
    display: inline-flex;
  width: 100%;
   justify-content: space-between;
}

header .left {
     width: auto;
 }

 header .right {
     width: auto;
 }
  
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
   justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    main {
        display: block;
    }
    
    .logo {
        display: none;
    }

    .titleOne {
        display: none;
    }

    ul.menu {
        list-style: none;
    }

    li {
        width: 100px;
        margin-bottom: 5px;
        text-align: center;
    }

    a {
        text-decoration: none;
        margin-left: 15px;
    }

    .group {
        display: block;
    }

    footer {
        display: none;
    }
}