html {
    font-size: 14px;
    width: 70%;
    margin: auto;
}

p {
    font-size: 1.1rem;
    width: 100%;
    max-height: 5rem;
    overflow: auto;
}

.group {
    display: flex;
   align-content: space-around;
   justify-content: space-around;
   padding-top: 2rem;
}

.titleOne {
    font-size: 3rem;
    font-weight: 800;
}

.titleTwo {
    font-size: 2rem;
    font-weight: 800;    
    padding-top: 2rem;
}

img {
    display: block;
    height: 12.14rem;
    width: auto;
    margin: auto;
    flex-grow: .5;
}

.blocImg {
    display:flexbox
    width: 20%;
}

.blocImg P {
    text-align: center;
}

header .logo {
    height: 8rem;
    width: auto;
}

ul {
    list-style-type: none;
}

li {
    display:inline-block;

}

a:hover {
    background-color: aquamarine;
}

header {
    display: inline-flex;
  width: 100%;
   justify-content: space-between;
}

header .left {
     width: auto;
 }

 header .right {
     width: auto;
 }
  
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
   justify-content: space-around;
}
